/* Viewports */

$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;


/* Colors */
$white: #ffffff;
$base-gray: #bdbdbd;
$black: #333333;
$base-primary: #7859cf;
$base-secondary: #f0ebff;

$opacity-primary: rgba(120, 89, 207, 0.25);
$primary-lighter: #9070ec;
$primary-darker: #593cac;
$light-grey: #e2e2e2;

$lightest-grey: #f8f8f8;
$flat-white: #f3ebe1;
$lavender-latte: #f3ebe1;
$espresso: #e5e6e8;