.card {
  border-radius: 4px;
  background-color: $white;

  &:hover {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  }
}

.card__link {
  display: block;
  text-decoration: none;
  padding: 40px 20px 0;

  @media (min-width: $tablet-width) {
    padding: 50px 30px 0;
  }
}

.card__image {
  width: 130px;
  height: 188px;
  margin: 0 auto;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.card__content {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.card__title {
  font-family: $montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
  margin-bottom: 4px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
  }
}

.card__description {
  font-family: $montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  color: $black;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 30px;
  }
}

.card__price {
  font-family: $montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  color: $black;
}

.card__button {
  cursor: pointer;
}
