.nav-header {
  display: flex;
  justify-content: flex-end;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    grid-column: 2 / 3;
    margin-left: 67px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
    margin-left: 123px;
  }
}
