.slider {
  width: 100%;
  position: relative;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__item {
  text-align: center;
  padding: 20px 20px 60px;

  @media (min-width: $tablet-width) {
    padding: 57px 80px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 40px 83px;
  }

  &--decaf {
    background-color: $flat-white;

    @media (min-width: $tablet-width) and (max-width: $only-tablet-width) {
      background-image: linear-gradient(180deg, $flat-white 0, $flat-white 640px, $white 640px);
    }
  }

  &--latte {
    background-color: $lavender-latte;

    @media (min-width: $tablet-width) and (max-width: $only-tablet-width) {
      background-image: linear-gradient(180deg, $lavender-latte 0, $lavender-latte 640px, $white 640px);
    }
  }

  &--espresso {
    background-color: $espresso;

    @media (min-width: $tablet-width) and (max-width: $only-tablet-width) {
      background-image: linear-gradient(180deg, $espresso 0, $espresso 640px, $white 640px);
    }
  }
}

.slider__item-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 600px);
    gap: 30px;
    padding: 0 65px;
    justify-content: flex-start;
    align-items: center;
  }
}

.slider__content {
  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    text-align: left;
  }
}

.slider__img-container {
  display: flex;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.slider__image {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 476px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
  }
}

.slider__label {
  font-family: $montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  color: $base-primary;
}

.slider__title {
  font-family: $montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.72px;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 3px;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 80px;
    letter-spacing: 1.12px;
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 4px;
  }
}

.slider__description {
  font-family: $montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  text-align: center;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 32px;
    max-width: 608px;
    margin: 0 auto;
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
    max-width: 600px;
    text-align: left;
  }
}

.slider__price-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
    margin-left: 0;
  }
}

.slider__price {
  font-family: $montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: $base-primary;
}

.slider__price-discount {
  font-family: $montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  color: $black;
  margin-right: 16px;
}

.slider__button {
  content: "";
  position: absolute;
  top: 20px;
  bottom: 0;
  width: 20px;
  height: 100%;
  z-index: 2;
  border: none;
  color: $base-primary;
  background-color: transparent;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 13px;
    height: 13px;
    border-top: 2px solid $base-primary;
    border-right: 2px solid $base-primary;
  }

  @media (min-width: $tablet-width) {
    &::after {
      top: 290px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      top: 330px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 640px;
  }

  @media (min-width: $desktop-width) {
    height: 714px;
  }
}

.slider__button--prev {
  left: 0;

  &::after {
    left: 33%;
    top: 49%;
    transform: rotate(226deg);

    @media (min-width: $tablet-width) {
      left: 46%;
    }
  }

  &:hover,
  &:focus {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }
}

.slider__button--next {
  right: 0;

  &::after {
    right: 33%;
    top: 49%;
    transform: rotate(46deg);

    @media (min-width: $tablet-width) {
      right: 46%;
    }
  }

  &:hover,
  &:focus {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  }

  &:active {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0) 0%, rgba(120, 89, 207, 0.25) 100%);
  }
}
